streamlit
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/fr_core_news_sm-3.7.1/fr_core_news_sm-3.7.1-py3-none-any.whl
nltk
pandas
rouge-score
scikit-learn
tqdm
pyarrow
requests
PyPDF2
python-docx
python-pptx
sentence-transformers
torch
