streamlit
spacy
nltk
pandas
rouge-score
scikit-learn
tqdm
pyarrow
requests
PyPDF2
python-docx
python-pptx
sentence-transformers
torch --index-url https://pytorch.org
torchvision --index-url https://pytorch.org
